@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2 class="container col-md-7">
    Please check your email to reset your password.
</h2>
